/* * {
    border: red dotted 1px;
} */
body {
    text-align: center;
    background-color: #000000;
}

#game-container {
    width:1000px;
    /* height: 660px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#start-screen {
    height: 419px;
    line-height: 342px;
    vertical-align: center;
}
#final-screen{
    height: 419px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main {
    margin-top: 30px;
    border-style: solid;
    background-color: #F51720; 
    border-image-slice:27 27 27 27;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:21px;
    border-image-repeat:round round;
    border-image-source:url(diamondborder.png)  
}
#title {
    /* border-style: solid;
    border-image-slice:64 64 64 64;
    border-image-width:10px 20px 10px 20px;
    border-image-outset:10px 50px 10px 50px;
    border-image-repeat:stretch round;
    border-image-source: url(scroll.png); */

}

/* Top Bar properties */
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bar-item {
    flex-grow:1;
}

.highscore-box {

}

.timer-box {

}

.score-box {

}

/* Game area properties */
#game-box {

}
.question-box {
    height: 108px;
    line-height: 108px;
}

#answer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-item {

}

.answer-box {
    flex-grow: 1;
    height: 200px;
    width: 240px; 
    border: black solid 5px;
    line-height: 200px;
    vertical-align: center;
    word-wrap: normal;
}
.result-container {
    height: 108px;
}
/* Title properties. */
#instructions-container {
    margin-top: 40px;
    color: beige;
}

