/* * {
    border: red dotted 1px;
} */
body {
    text-align: center;
    background-color: #000000;
    font-family: 'Alata', sans-serif;
    color:beige;
}

#game-container {
    width:1000px;
    /* height: 660px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#start-screen {
    height: 468px;
    line-height: 342px;
    vertical-align: center;
}
#final-screen{
    height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: dotted 5px #F8D210;
    width: 500px; */
    margin-left: auto;
    margin-right: auto;
}
main {
    margin-top: 30px;
    border-style: solid;
    background-color: #F51720; 
    border-image-slice:27 27 27 27;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:21px;
    border-image-repeat:round round;
    border-image-source:url(diamondborder.png)  
}
#title {
    /* border-style: solid;
    border-image-slice:64 64 64 64;
    border-image-width:10px 20px 10px 20px;
    border-image-outset:10px 50px 10px 50px;
    border-image-repeat:stretch round;
    border-image-source: url(scroll.png); */
    font-family: 'Anton', sans-serif;
    color: #f89b10;
    border: dotted 10px;
    border-color: #F8D210;
    padding-left: 6px;
    padding-right: 6px;
}

/* Top Bar properties */
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar-item {
    /* flex-grow:1; */
    width: 312px;
    color:beige;
}
/* .yborder {
    border: dotted 5px #F8D210;
    color:beige;
} */

.highscore-box {

}

.timer-box {

}

.score-box {

}

/* Game area properties */
#game-box {


}
.question-box {
    height: 108px;
    width: 920px;
    line-height: 108px;
    border: dotted 5px #F8D210;
    color:beige;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#answer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.game-item {

}

.answer-box {
    flex-grow: 1;
    height: 200px;
    width: 240px; 
    border: #F51720 solid 5px;
    line-height: 200px;
    vertical-align: center;
    word-wrap: normal;
}
.result-container {
    height: 108px;
}
/* Title properties. */
#instructions-container {
    margin-top: 40px;
    color: beige;
}

.glow:hover {
    color: #f89b10;
    font-weight: bold;
}

/* Fonts
font-family: 'Alata', sans-serif;
font-family: 'Anton', sans-serif;

*/